.footer-dark {
  background: #000;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}


.footer-dark a {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
.footer-dark a:hover {
  opacity: 1;
  text-decoration: underline;
}
